### Getting Started with Tuples

In [1]:
t1=('a','b')
type(t1)

tuple

### 1.) Creating a tuple

In [2]:
t=tuple()
n=int(input("Enter the length of tuple: "))
for i in range(n):
    a=input("Enter the element: ")
    t=t+ (a,)
print(t)

Enter the length of tuple: 5
Enter the element: 5
Enter the element: 4
Enter the element: 7
Enter the element: 8
Enter the element: 9
('5', '4', '7', '8', '9')

### 2.) WAP to store N number of subjects in tuple

In [5]:
R=tuple()
n=int(input("Enter the number of subjects : "))
for i in range(n):
    a=input("Enter The Subject: ")
    R+= (a,)
print(R)

Enter the number of subjects : 5
Enter The Subject: English
Enter The Subject: Maths
Enter The Subject: Science
Enter The Subject: Geo
Enter The Subject: Bio
('English', 'Maths', 'Science', 'Geo', 'Bio')

### 3.) Accesing and Traversing Tuple

In [14]:
tup= (10,20,30,40,50,60,70)
print(type(tup))

# Accesing an element.
print(tup[0])
print(tup[-4])
print(tup[-1])

print("_________________________")

# traversing using for loop
for i in tup:
    print(i)

print("________________________________")    
#  traversing using range function

n=len(tup)
for j in range(n):
    print(tup[j])

<class 'tuple'>
10
40
70
_________________________
10
20
30
40
50
60
70
________________________________
10
20
30
40
50
60
70

### Tuple Slicing

**Syntax: tuplename[start:stop:step]**

Imp: $Stop$ is **Exclusive**.

If stop = 3 slicing will be done till 2.

In [32]:
y=('a','m','b','o','u','r','j')

# Slicing the tuple

# Effort to obtain the 1st to 4th index element

print(y[1:5:1])

print("_________________")

print(y[4:6])

# The by default step is 1.


print("_________________")

# Trying to slice with reverse indexing

print(y[-6:-2])


print("_________________")

print(y[3:-1:1])

print("_________________")

print(y[-1:3:-1])

('m', 'b', 'o', 'u')
_________________
('u', 'r')
_________________
('m', 'b', 'o', 'u')
_________________
('o', 'u', 'r')
_________________
('j', 'r', 'u')

### Tuple Concatenation/Addition

#### 1. Simply adding two tuples

In [36]:
m=(1,5,8,9)
u=(2,4,7,0)
z= m+u

print(z)
print(type(z))

(1, 5, 8, 9, 2, 4, 7, 0)
<class 'tuple'>

#### 2.Slicing and adding

In [38]:
a=('a','b','c','d','e')
x=(1,2,3,4,5)

z=a[1:4]+x[0:3]
t=a[1:4]+('ok','bye')

print(z)
print(t)

('b', 'c', 'd', 1, 2, 3)
('b', 'c', 'd', 'ok', 'bye')

### Tuple Multiplication

In [7]:
b=(1,2,5,8)
c=b*2

# Multilication of tuple gives tuple multiple times.
print(c)

print("______________________________________")
x=('abba!','dabba!','jabba')
y=x*2
print(y)
print("______________________________________")

v=x[0:2]*2
print(v)

(1, 2, 5, 8, 1, 2, 5, 8)
______________________________________
('abba!', 'dabba!', 'jabba', 'abba!', 'dabba!', 'jabba')
______________________________________
('abba!', 'dabba!', 'abba!', 'dabba!')

### In and Not In operator

In [12]:
r=(1,2,78,90)

# in will check the specified element is in the tuple or not.
print(78 in r )
print("_____________________")
# not in will check the specified element is not in the tuple or not.
print(89 not in r)
print("_____________________")

# Expected answer: False as 77 is not in r
print(77 in r)

print("_____________________")


# Expected answer: False as 90 is not in r
print(90 not in r)

True
_____________________
True
_____________________
False
_____________________
False

### Tuple Functions:

1.)  $len()$

2.)  tuplename$.count()$

3.)  $any$(tuplename)

4.)  $max/min$(tuplename)

5.)  $sorted$(tuplename)

6.)  tuplename.$index$(value,start,end)

In [30]:

# tuple can be of mixed type.
x=('a',65,'uio',907,'p',907,'a')

print(type(x))
# finding the length of the tuple
l=len(a)
print(l)
print("_______________________________")

# Finding a count of an item.
print("The Count is : ",x.count('a'))
print("The Count is : ",x.count(907))

print("_______________________________")


# any()
# this will tell us whether the tuple has any element in it or not

print("any element present in X tuple:",any(x))

print("_______________________________")

# min() and max()
# for min and max to work the tuple must be of one type 
# either it should be all int or all string.

y=(123,456,78,90,12,111)
print(y)
print("The maximum value in Y is :",max(y))
print("The minimum value in Y is :",min(y))


print("_______________________________")

# sorted(tuplename)
# IMP: After sorting the tuple List is returned.

print(y)
print(sorted(y))

# IMPORTANT:
# data type remains tuple but list will be returned.

print(type(y))



print("_______________________________")


# tuple.index(value,start,end)

m=(123,456,78,90,12,123,111)
print("the index is: ",m.index(123))

# the below code will start searching the value 123 after 2nd index and check it till 6th index.
print("the index is: ",m.index(123,2,6))

<class 'tuple'>
1
_______________________________
The Count is :  2
The Count is :  2
_______________________________
any element present in X tuple: True
_______________________________
(123, 456, 78, 90, 12, 111)
The maximum value in Y is : 456
The minimum value in Y is : 12
_______________________________
(123, 456, 78, 90, 12, 111)
[12, 78, 90, 111, 123, 456]
<class 'tuple'>
_______________________________
the index is:  0
the index is:  5

### Comparing Tuples

Tuples compare each other element wise.

if the first element comparison gives a result then it does not matter 
what are the subsequent elements.

In [32]:
c=(0,10,20)
d=(1,0,0)

# expected : false as d(0)> c(0) other elements does not matter.
print(c>d)

print('___________________________')


# expected : false.
print((100,1000,10000)>(100,0,200000000))

False
___________________________
True

### Deleting a tuple:

In [33]:
tup=(1,2,3,4,56)
print(tup)
del tup

print(tup)

(1, 2, 3, 4, 56)

NameError: name 'tup' is not defined